@charset "UTF-8";
img{
	border:none;
}
html{
	font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 17px;
}
/* 全体にかかる
----------------------------------------------------------- */
body{
	/*margin-left: 40px;*/
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0 auto;
	/*width: 100%;*/
	margin: 20px;
}

/* 縦書き指定
----------------------------------------------------------- */
.tate{
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
}
.taterow{
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	max-width:960px;
	margin:0 auto;
	position: relative;
	height: auto;
}
@media screen and (max-width: 640px){
.taterow{
	display:block;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	max-width:640px;
	margin:0 auto;
	position: relative;
}
}

.header_inner{
	height: 70vh;
	background-color: #087;
	max-height: 600px;
	min-height:500px;
	position: relative;
}
.header_logo{
	position: absolute;
	top:0;
	left: 50%;
	transform: translateX(-50%);
}
.header_logo img{
	height: 50vh;
	min-height: 200px;
}
.header_hello{
	background-image: url("../images/hello.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 100% 0;
	position: absolute;
	top:0;
	right: 0;
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 45vh;
    min-height: 200px;
    max-height: 500px;
    width: 20%;
    max-width: 100px;
    min-width: 80px;
}
.header_menu{
	position: absolute;
	top: 0;
	left: 0;
}
.header_menu a.setsumei{
	background-image: url("../images/menu1.png");
	background-repeat: repeat;
	background-color: #789;
}

/* mainvisual
----------------------------------------------------------- */
.mainvisual{
	margin: 0 auto;
	max-width: 960px;
	padding-top: 450px;
}
@media screen and (max-width: 640px){
.mainvisual{
	/*margin: 0 auto;
	width: 100%;*/
	padding-top: 450px;
}
}
@media screen and (max-width: 640px){
.mainvisual img{
	margin: 0 auto;
	width: 100%;
	padding-top: 300px;
}
}
/* サイトの説明文
----------------------------------------------------------- */
.tatecol_6{
	max-width:640px;
	padding:20px;
	overflow: hidden;
}
.tatecol_3{
	max-width:320px;
	padding:20px;
	overflow: hidden;
}
@media screen and (max-width: 640px){
.tatecol_3{
	width: 100%;
	padding:0;
}
}
.tatecol_3 p{
	margin: 0;
	font-size: 20px;
}
@media screen and (max-width: 640px){
.tatecol_3 p{
	margin: 0;
	font-size: 17px;
}
}
.tate_h_320{
	height:320px;
	line-height:2.5;
	max-width: 640px;
	margin: 0 auto;
}
@media screen and (max-width: 640px){
.tate_h400{
	height:400px;
	line-height:2;
	/*max-width: 640px;*/
	margin: 0 auto;
	padding-top:50px;
}
}
.tate_h_420{
	height:420px;
}
.tate_h_450{
	height:450px;
}
/* 喜び
----------------------------------------------------------- */
.joy_con{
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	margin-top: 50px;
}
@media screen and (max-width: 640px){
.joy_con{
	position: relative;
	width:100%;
	margin: 0 auto;
	margin-top: 50px;
}
}
.joy_con .con_text{
	float: right;
}
@media screen and (max-width: 640px){
.joy_con .con_text{
	float: none;
}
}
.joy_con .con_text .menu_common_1{
	top:0;
}
@media screen and (max-width: 640px){
.joy_con .con_text .menu_common_1{
	top:0;
}
}
@media screen and (max-width: 640px){
.joy_con .con_text .menu_common_1 img{
	width: 50%;
	float: right;
}
}
.joy_con .con_text .menu_common_2{
	position: absolute;
	top:0;
	right: 250px;
	-webkit-writing-mode: vertical-rl;
	line-height: 2;
	height: 65%;
}
@media screen and (max-width: 640px){
.joy_con .con_text .menu_common_2{
	position: static;
	-webkit-writing-mode: vertical-rl;
	line-height: 2;
	height: 47%;
	float: left;
}
}
@media screen and (max-width: 640px){
.joy_con .con_text .menu_common_2 p{
	margin:0;
}
}
.joy_con .con_text .menu_common_3{
	width: 40%;
	height: auto;
	position: absolute;
	bottom: 1%;
	right: 10px;
}
@media screen and (max-width: 640px){
.joy_con .con_text .menu_common_3{
	width: 100%;
	/* height: auto; */
	position: absolute;
	/* bottom: 1%; */
	/* right: 10px; */
	/* top: 100px; */
	top: 465px;
	right: 1px;
}
}
.joy_con .con_text .menu_common_3 img{
	width: 90%;
}
@media screen and (max-width: 640px){
.joy_con .con_text .menu_common_3 img{
	width: 100%;
}
}
.con1 .con_img {
	float: left;
}
@media screen and (max-width: 640px){
.con1 .con_img {
	float: none;
}
}
.joy_con .con_img .menu_common_4 {
	width: 100%;
	text-align: left;
}
@media screen and (max-width: 640px){
.joy_con .con_img .menu_common_4 img {
	width: 100%;
	padding-top: 30px;
}
}
.joy_con .menu_common_4 {
	clear: both;
}
/* 怒り
----------------------------------------------------------- */
.angry_con{
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	margin-top: 100px;
}
@media screen and (max-width: 640px){
.angry_con{
	position: relative;
	width:100%;
	margin: 0 auto;
	margin-top: 100px;
}
}
.angry_con .con_text{
	float: left;
}
@media screen and (max-width: 640px){
.angry_con .con_text{
	float: none;
}
}
.angry_con .con_text .menu_common_1{
	top:0;
}
@media screen and (max-width: 640px){
.angry_con .con_text .menu_common_1{
	top:0;
}
}
@media screen and (max-width: 640px){
.angry_con .con_text .menu_common_1 img{
	width: 50%;
	float: left;
}
}
.angry_con .con_text .menu_common_2{
	position: absolute;
	top:0;
	left:250px;
	-webkit-writing-mode: vertical-rl;
	line-height: 2;
	height: 65%;
}
@media screen and (max-width: 640px){
.angry_con .con_text .menu_common_2{
	position: static;
	-webkit-writing-mode: vertical-rl;
	line-height: 2;
	height: 52%;
	float: right;
}
}
@media screen and (max-width: 640px){
.angry_con .con_text .menu_common_2 p{
	margin:0;
}
}
.angry_con .con_text .menu_common_3{
	width: 40%;
	height: auto;
	position: absolute;
	bottom: 1%;
	left: 10px;
}
@media screen and (max-width: 640px){
.angry_con .con_text .menu_common_3{
	width: 100%;
	/* height: auto; */
	position: absolute;
	/* bottom: 1%; */
	/* right: 10px; */
	/* top: 100px; */
	top: 467px;
	left: 1px;
}
}
.angry_con .con_text .menu_common_3 img{
	width: 90%;
}
@media screen and (max-width: 640px){
.angry_con .con_text .menu_common_3 img{
	width: 100%;
}
}
.con2 .con_img {
	float: right;
}
@media screen and (max-width: 640px){
.con2 .con_img {
	float: none;
}
}
.angry_con .con_img .menu_common_4 {
	width: 100%;
	text-align: right;
}
@media screen and (max-width: 640px){
.angry_con .con_img .menu_common_4 img {
	width: 100%;
	padding-top: 30px;
}
}
.angry_con .menu_common_4 {
	clear: both;
}
/* 哀しみ
----------------------------------------------------------- */
.sad_con{
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	margin-top: 100px;
}
@media screen and (max-width: 640px){
.sad_con{
	position: relative;
	width:100%;
	margin: 0 auto;
	margin-top: 100px;
}
}
.sad_con .con_text{
	float: right;
}
@media screen and (max-width: 640px){
.sad_con .con_text{
	float: none;
}
}
.sad_con .con_text .menu_common_1{
	top:0;
}
@media screen and (max-width: 640px){
.sad_con .con_text .menu_common_1{
	top:0;
}
}
@media screen and (max-width: 640px){
.sad_con .con_text .menu_common_1 img{
	width: 50%;
	float: right;
}
}
.sad_con .con_text .menu_common_2{
	position: absolute;
	top:0;
	right: 250px;
	-webkit-writing-mode: vertical-rl;
	line-height: 2;
	height: 65%;
}
@media screen and (max-width: 640px){
.sad_con .con_text .menu_common_2{
	position: static;
	-webkit-writing-mode: vertical-rl;
	line-height: 2;
	height: 48%;
	float: left;
}
}
@media screen and (max-width: 640px){
.sad_con .con_text .menu_common_2 p{
	margin:0;
}
}
.sad_con .con_text .menu_common_3{
	width: 40%;
	height: auto;
	position: absolute;
	bottom: 1%;
	right: 10px;
}
@media screen and (max-width: 640px){
.sad_con .con_text .menu_common_3{
	width: 100%;
	position: absolute;
	top: 438px;
	right: 1px;
}
}
.sad_con .con_text .menu_common_3 img{
	width: 90%;
}
@media screen and (max-width: 640px){
.sad_con .con_text .menu_common_3 img{
	width: 100%;
}
}
.con3 .con_img {
	float: left;
}
@media screen and (max-width: 640px){
.con3 .con_img {
	float: none;
}
}
.sad_con .con_img .menu_common_4 {
	width: 100%;
	text-align: left;
}
@media screen and (max-width: 640px){
.sad_con .con_img .menu_common_4 img {
	width: 100%;
	padding-top: 30px;
}
}
.sad_con .menu_common_4 {
	clear: both;
}
/* 楽しみ
----------------------------------------------------------- */
.fun_con{
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	margin-top: 100px;
}
@media screen and (max-width: 640px){
.fun_con{
	position: relative;
	width:100%;
	margin: 0 auto;
	margin-top: 100px;
}
}
.fun_con .con_text{
	float: left;
}
@media screen and (max-width: 640px){
.fun_con .con_text{
	float: none;
}
}
.fun_con .con_text .menu_common_1{
	top:0;
}
@media screen and (max-width: 640px){
.fun_con .con_text .menu_common_1{
	top:0;
}
}
@media screen and (max-width: 640px){
.fun_con .con_text .menu_common_1 img{
	width: 50%;
	float: left;
}
}
.fun_con .con_text .menu_common_2{
	position: absolute;
	top:0;
	left:250px;
	-webkit-writing-mode: vertical-rl;
	line-height: 2;
	height: 65%;
}
@media screen and (max-width: 640px){
.fun_con .con_text .menu_common_2{
	position: static;
	-webkit-writing-mode: vertical-rl;
	line-height: 2;
	height: 52%;
	float: right;
}
}
@media screen and (max-width: 640px){
.fun_con .con_text .menu_common_2 p{
	margin:0;
}
}
.fun_con .con_text .menu_common_3{
	width: 40%;
	height: auto;
	position: absolute;
	bottom: 1%;
	left: 10px;
}
@media screen and (max-width: 640px){
.fun_con .con_text .menu_common_3{
	width: 100%;
	position: absolute;
	top: 467px;
	left: 1px;
}
}
.fun_con .con_text .menu_common_3 img{
	width: 90%;
}
@media screen and (max-width: 640px){
.fun_con .con_text .menu_common_3 img{
	width: 100%;
}
}
.fun_con .con_img {
	float: right;
}
@media screen and (max-width: 640px){
.con4 .con_img {
	float: none;
}
}
.fun_con .con_img .menu_common_4 {
	width: 100%;
	text-align: right;
}
@media screen and (max-width: 640px){
.fun_con .con_img .menu_common_4 img {
	width: 100%;
	padding-top: 30px;
}
}
.fun_con .menu_common_4 {
	clear: both;
}
/* footer
----------------------------------------------------------- */
.footer{
	max-width: 960px;
	height: 400px;
	position: relative;
	margin: 0 auto;
}
@media screen and (max-width: 640px){
.footer{
	max-width: 640px;
	height: 400px;
	position: relative;
	margin: 0 auto;
	padding-top:100px;
}
}
.footer_logo{
	padding-top: 30px;
	text-align: center;
}
.copylight{
	padding-top: 30px;
	text-align: center;
}


