@charset "UTF-8";

img{
	border:none;
}

html{
	font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 17px;
}

/* 全体にかかる
----------------------------------------------------------- */
body{
	/*margin-left: 40px;*/
	background-image: url(../../../images/index/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 60px;
}
	@media screen and (max-width: 600px){
		body{
			margin: 20px;
		}
	}


/* ヘッダー
----------------------------------------------------------- */
.header_inner{
	position: relative;
	height: 35vh;
	max-height: 400px;
	min-height: 370px;
	position: relative;
}
	@media screen and (max-width: 750px){
		.header_inner{
			height: 45vh;
			max-height: 500px;
			min-height: 450px;
		}
	}


.header_logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.header_logo img{
}
.header_hello{
	background-image: url("../../images/index/hello.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 100% 0;
	position: absolute;
	top:0;
	right: 0;
	text-indent: -9999px;
	height: 385px;
	width: 156px;
}

.header_menu {
	position: absolute;
	top: 0;
	left: 0;
}
.header_menu ul li{
	list-style: none;
	margin: 0 7px;
	display: inline-block;
	vertical-align: top;
}
@media screen and (max-width: 750px){
	.header_hello{
		height: 192px;
		width: 78px;
	}
	.header_menu {
		position: absolute;
		top: 350px;
		width: 100%;
		text-align: center;
	}
}


/* mainvisual
----------------------------------------------------------- */
.mainvisual{
	text-align: center;
}
	@media screen and (max-width: 600px){
		.mainvisual{
			margin: 0 auto;
			max-width: 100%;
			min-width: 70%;
		}
	}

.mainvisual img{
	width: 100%;
	max-width: 1000px;
}
	@media screen and (max-width: 600px){
		.mainvisual img{
			margin: 0 auto;
			width: 100%;
		}
	}

.container {
	width: 100%;
	 margin:0 auto;
 }

/* 説明
----------------------------------------------------------- */
.setsumei{
	margin-top: 10px;
	width: 100%;
}
.setsumei p{
	line-height: 2;
	font-size: 27px;
	text-align: center;
	margin-bottom: 10px;
}
	@media screen and (max-width: 600px){
		.setsumei p{
			line-height: 2;
			font-size: 16px;
			width: 100%;
		}
	}

.setsumei p .emotion-btn{
	text-align: center;
	max-width: 400px;
}
	@media screen and (max-width: 600px){
		.emotion-btn{
			width: 100%;
			text-align: center;
		}
	}



/* 全感情共通部分
========================================================*/
.wrap, .wrap .text-box {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
}

/* ボタンの部分 [PC表示] */
.list-btn_pc {
	margin:25px auto 50px;
	max-width: 90%;
	min-width: 60%;
}

.list-btn_pc img{
	width: 100%;
	max-width: 500px;
	min-width: 260px;
}

	@media screen and (max-width:700px) {
		.list-btn_pc {
			display: none;
		}
	}

/* ボタンの部分 [SP表示] */
.list-btn_sp {
	display: none;
}
	@media screen and (max-width:700px) {
		.list-btn_sp {
			display: block;
			margin-top: 10px;
		}
	}

	@media screen and (max-width:700px) {
		.list-btn_sp img{
			display: block;
			margin: 10px auto 30px;
			width: 100%;
		}
	}



/* footer
----------------------------------------------------------- */
.footer{
	max-width: 960px;
	height: 400px;
	position: relative;
	margin: 0 auto;
}
@media screen and (max-width: 640px){
.footer{
	max-width: 640px;
	height: 400px;
	position: relative;
	margin: 0 auto;
	/*padding-top:100px;*/
}
}
.footer_logo{
	padding-top: 30px;
	text-align: center;
}
.copylight{
	padding-top: 30px;
	text-align: center;
}


/*20190329~*/

/* 共通部分
----------------------------------------------------------- */

.slash-red{
	color: #8a040b;
	font-weight: bold;
}

.backnumber{
	margin: 5% 0;
}

.backnumber-list-wrap{
	display: flex;
	flex-wrap:wrap;
	width: 100%;

}
	@media screen and (max-width:600px) {
		.backnumber-list-wrap {
			display: block;
			margin: 0 auto;
		}
	}

.backnumber-list{
	width: 50%;
	text-align: center;
}
	@media screen and (max-width:700px) {
		.backnumber-list {
			width: 100%;
		}
	}

.backnumber img{
	text-align: center;
}
	@media screen and (max-width:700px) {
		.backnumber img {
			width: 80%;
		}
	}

.backnumber-text{
	margin: 20px 30px;
	line-height: 1.5;
}


.backnumber-img img {
	max-width: 90%;
	min-width: 60%;
}

@media screen and (max-width:700px) {
		.backnumber-img img {
			width: 100%;
		}
	}

.other{
	width: 40%;
}
